.home{
    width:100%;
    margin-top: 4em;
}
.home h1{
    color:#D0D0D0;
    font-family: Playfair Display;
    font-size: 5.5em;
    font-weight: lighter;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 10px;
}
.home span{
    color:crimson;
}
.parent{
    position: relative;
}
.home h1 .date{
    position:absolute;
    bottom: 15px;
    font-size: 18px;
    padding-left:10px;
    color:#B9B9B9; 
    transform: translateX(500px);
    animation: LeftSlideIn 1s forwards;
}
.bottom-parent{
    position: relative;
}
.home .bottom-parent .bottom-text{
    position: absolute;
    font-size: 18px;
    bottom: -1em;
    color:#B9B9B9;
    left:45%;
    transform: translateY(500px);
    animation: UpSlide 1s forwards;
}

@keyframes LeftSlideIn{
    from{

    }
    to{
        transform: translateX(0px);
    }
}
@keyframes UpSlide{
    from{

    }
    to{
        transform: translateY(0px)
    }
}

@media screen and (max-width:860px){
   .home h1{
       font-size: 5em;
   }
   .home h1 .date{
       font-size: 15px;
   }
   .home .bottom-parent .bottom-text{
       font-size: 15px;
   }
   .home{
       margin-top: 4em;
   }
    
}
@media screen and (max-width:760px){
    .home{
        margin-top: 5em;
    }
    .home h1{
        font-size: 4em;
    }
    .home h1 .date{
        font-size: 12px;
    }
    .home .bottom-parent .bottom-text{
        font-size: 12px;
        left:45%;
    }
    
    
}
@media screen and (max-width:610px){
    .home{
        margin-top: 6em;
    }
    .home h1{
        font-size: 3em;
    }
    .home h1 .date{
        font-size: 12px;
    }
    .home .bottom-parent .bottom-text{
        font-size: 12px;
        left:41%;
    }
}
@media screen and (max-width:470px){
    .home{
        margin-top: 7em;
    }
    .home h1{
        font-size:40px;
    }
    .home h1 .date{
        font-size: 12px;
    }
    .home .bottom-parent .bottom-text{
        font-size: 12px;
        left:41%;
    }
}